doctype html
html
    header
        style
            include style.css
    body
        div
             div
                 br
                 | Click her and cheng Password:
                 a(href=`http://localhost:3000/auth/${emailToken}/${newPassword}`) Verification
        div.footer
            |response from service UsersBase
            br
            |PetrivProduction
            br
            |
            a(href="https://github.com/petrivym") about more
